/*index user
  index untuk pemanis semata biar kek web" resmi wkwk
 */
body, html {
  height: 100%;
  margin: 0;
  font: 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../bg/bg1.jpeg");
  min-height: 100%;
  opacity: 0.85;
}

.bgimg-2 {
  background-image: url("../bg/bg2.jpg");
  min-height: 100%;
  opacity: 0.75;
}

.captiony {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.captiony span.bordery {
  background-color: #007bff;
  color: #fff;
  padding: 18px;
  font-size: 55px; /* font judul. gw kasih jejak biar ga lupa*/
  letter-spacing: 10px;
  border-radius: 40px;
}

.captiony span#hov:hover {
  animation-delay: 10;
  box-shadow: 0 0 25px #007bff;
  transition: 1s;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Biar tampilan hp jd burik */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
  }
  .captiony span.bordery {
    font-size: 20px;
  }
}
.navbar-scroll {
  background-color: rgba(0,123,255,0.4);
  transition: background-color 0.5s;
}
/* end of index user */